//All colours are presetn here 
//we can also write variables in sass so we used this instead of css

$first:white;
$second:#090c31;
$third:#5853ff;
$dark:rgb(44,44,44);
$text1:"Lumanosimo";
$text2:cursive;

